html {
    overflow-x: hidden;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100vw;
    padding: 0px 65px;
}

.hero {
    background-color: #F7F5F2;
    width: 100%;
    height: 100vh;
}

.nav-links li:not(:last-child)::after {
    content: "|";
}

.hero-content {
    width: 50vw;
}

.hero-btn {
    background-color: #45694E;
    color: #fff;
    border-radius: 20px;
    display: block;
    width: fit-content;
    text-align: center;
}

.img-container {
    width: 40vw;
    height: auto;
}