@font-face {
    font-family: "FixelDisplayExtraLight";
    src: url("./assets/FixelDisplay-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "FixelDisplaySemiBold";
    src: url("./assets/FixelDisplay-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "FixelDisplayLight";
    src: url("./assets/FixelDisplay-Light.woff") format("woff");
}

/* ---------------------- global styles ------------------------ */

* {
    max-width: 100vw;
}

html {
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: "FixelDisplayLight", sans-serif;
    font-weight: 1000;
}
a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 0px 70px;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}

h1 {
    font-family: "FixelDisplaySemiBold", sans-serif;
    font-size: 66px;
    margin: 0;
    line-height: 1.2;
    font-weight: 200;
}

h2 {
    font-family: "FixelDisplaySemiBold", sans-serif;
    font-size: 36px;
    margin: 0;
    line-height: 1.2;
    font-weight: 200;
}

/* ----------------------- hero ---------------------- */

.hero {
    background-color: #F7F5F2;
    padding-top: 70px;
}

.navbar-container {
    display: flex;
    gap: 200px;
}

.navigation {
    display: flex;
}

.navigation a {
    font-family: "FixelDisplayExtraLight", sans-serif;
    font-weight: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li:not(:last-child)::after {
    content: "|";
    margin: 0 20px;
}

.hero-content {
    width: 50vw;
    margin-top: 100px;
}

.hero-btn {
    background-color: #45694E;
    color: #fff;
    border-radius: 25px;
    display: block;
    width: fit-content;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
}

.img-container {
    width: 40vw;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* --------------------- about ------------------ */

#about {
    background-color: #909E7A;
}

#about h2 {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 90px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.card-header {
    display: flex;
    gap: 20px;
}


.card h3 {
    font-family: "FixelDisplaySemiBold", sans-serif;
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: 200;
}